/* nav style */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0px 200px;
}
nav ul{
     display: flex;
     align-items: center;
     
}
nav li>a{
    text-decoration: none;
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.name-nav{
    color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
/* common style */
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
padding: 18px 36px;
border: 0px;
color: var(--white-color, #FFF);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* header style */
.header-style{
    background: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* banner-style */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hardy-img{
    width: 584px;
height: 676px;
flex-shrink: 0;
margin-right: 30px;
}
.banner-greetings{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.banner-name{
    color: var(--dark-01, #181818);
font-family: Open Sans;
font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.banner-paragraph{
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
display: flex;
flex-direction: column;
}
.banner-text{
    max-width: 550px;
    margin-left: 200px;
}
.btn-2{
   padding-left: 20px;
}
.about{
   padding: 130px;
   border-radius: 10px;
   background: #FFF8F3;
   max-width: 1140px;
   margin: 130px auto;
}
.section-title{

    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-discription{
    color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.info-title{
    color:#474747;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.info-description{
    color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.info-container{
    display: flex;
    justify-content: space-around;
    
}
.box{
    width: 267px;
height: 377px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
box-sizing: border-box;



}
.box-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.icon{

    width: 44px;
height: 44px;
padding: 30px;

}
.section-title2{
    color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-discription2{
    color: var(--dark-03, #757575);
font-family: Open Sans;
display: flex;
flex-direction: column;
padding: 20px;
}